<div [formGroup]="adressForm">
    <mat-form-field>
        <input type="text" matInput formControlName="name" placeholder="Name">
        <small [hidden]="adressForm.get('name').valid" class="text-danger">
            Name is required
        </small>
    </mat-form-field>
    <mat-form-field>
        <input type="text" matInput formControlName="address" placeholder="Address">
    </mat-form-field>
    <mat-form-field>
        <input type="text" matInput formControlName="city" placeholder="City">
    </mat-form-field>
    <mat-form-field>
        <input type="text" matInput formControlName="zip" placeholder="Zip">
    </mat-form-field>
    <mat-form-field>
        <input type="text" matInput formControlName="state" placeholder="State">
    </mat-form-field>
    <mat-form-field>
        <input type="text" matInput formControlName="phone" placeholder="Phone">
    </mat-form-field>
</div>