<div [ngBusy]="busy"></div>
<form [formGroup]="productForm" (ngSubmit)="save(productForm.value)" autocomplete="false" novalidate>
  <button mat-fab class="floating-fab" color="accent" type="submit">
    <mat-icon>save</mat-icon>
  </button>
  <div class="app-content" fxLayout="column" fxLayoutAlign="space-around stretch">
    <div class="page-title" fxFlex>
      <button type="button" mat-icon-button routerLink="/admin/product">
        <i class="material-icons pull-left">keyboard_backspace</i>
      </button>
      <span fxHide.lt-sm>{{header}}</span>
      <h3>


      </h3>

    </div>
    <section>
      <article>
        <h3>Product Info</h3>
        <div class="column">
          <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
            <mat-form-field fxFlex>
              <input matInput type="name" name="name" formControlName="name" placeholder="Name" />
            </mat-form-field>
            <mat-form-field fxFlex>
              <input matInput type="slug" name="slug" formControlName="slug" placeholder="Slug" />
            </mat-form-field>
            <mat-form-field>
              <input matInput type="sku" name="sku" formControlName="sku" placeholder="SKU" style="width:30px" />
            </mat-form-field>
          </div>
          <mat-form-field class="full-width">
            <textarea matInput name="description" formControlName="description" placeholder="Description"></textarea>
          </mat-form-field>
        </div>
      </article>
      <article>
        <h3>Settings</h3>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="row" fxFlex="50">
            <mat-slide-toggle class="mat-primary" formControlName="active" class="pull-left">Active</mat-slide-toggle>
            <mat-slide-toggle class="mat-warn" formControlName="approved">Approved</mat-slide-toggle>
            <mat-slide-toggle class="mat-accent" formControlName="hot">Hot</mat-slide-toggle>
            <mat-slide-toggle class="mat-secondary" formControlName="new">New</mat-slide-toggle>
            <mat-slide-toggle class="mat-secondary" formControlName="sale">Sale</mat-slide-toggle>
          </div>
          <div fxLayout="row" fxFlex="50">
            <mat-select placeholder="Brand" formControlName="brand" floatPlaceholder="never">
              <mat-option *ngFor="let brand of brands" [value]="brand._id">
                {{brand.name}}
              </mat-option>
            </mat-select>
            <mat-select placeholder="Category" formControlName="category" floatPlaceholder="never">
              <mat-option *ngFor="let category of categories" [value]="category._id">
                {{category.name}}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </article>
    </section>

    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap fxFlexOffset="20px">
      <div>
        <div class="page-title">Features
          <button type="button" mat-raised-button class="mat-primary" routerLink="/admin/features">
            <mat-icon>spellcheck</mat-icon>New Feature</button>
        </div>
        <mat-card>
          <mat-card-content>
            <table>
              <tbody formArrayName="features">
                <tr *ngFor="let f of productForm.get('features')['controls']; let i = index;">
                  <div [formGroupName]="i">
                    <product-features [features]="features" [group]="productForm.get('features')['controls'][i]"></product-features>
                  </div>
                  <td>
                    <button type="button" mat-icon-button (click)="removeFeature(i);">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <button type="button" mat-button class="mat-primary" (click)="addFeature()">Add another feature</button>
          </mat-card-content>
        </mat-card>
      </div>

      <div>
        <div class="page-title">Key Features
          <button type="button" mat-raised-button class="mat-primary" routerLink="/admin/features">
            <mat-icon>spellcheck</mat-icon>New Key Feature</button>
        </div>
        <mat-card>
          <mat-card-content>
            <table>
              <tbody formArrayName="keyFeatures">
                <tr *ngFor="let f of productForm.get('keyFeatures')['controls']; let i = index;">
                  <div [formGroupName]="i">
                    <product-features [features]="features" [group]="productForm.get('keyFeatures')['controls'][i]"></product-features>
                  </div>
                  <td>
                    <button type="button" mat-icon-button (click)="removeKeyFeature(i);">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <button type="button" mat-button class="mat-primary" (click)="addKeyFeature()">Add another keyFeatures</button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="100">
        <div class="page-title">Variants</div>
        <mat-card>
          <mat-card-content>
            <table>
              <tbody formArrayName="variants">
                <tr *ngFor="let f of productForm.get('variants')['controls']; let i = index;">
                  <div [formGroupName]="i">
                    <shopnx-variants [group]="productForm.get('variants')['controls'][i]"></shopnx-variants>
                  </div>
                  <td>
                    <button type="button" mat-icon-button (click)="removeVariant(i);">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <button type="button" mat-button class="mat-primary" (click)="addVariant()">Add another variant</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <!--<div>
      <div class="page-title">Record Info</div>
      <mat-card>
        <mat-card-content>
          Created At {{product.createdAt}} by {{product.vendor_name}}<br/> Modified At {{product.updatedAt}} by {{product.vendor_name}}
        </mat-card-content>
      </mat-card>
    </div>-->

  </div>
</form>