<div class="app-content cp-container">
  <mat-card>
    <mat-toolbar class="mat-accent" fxLayout="row">
      <h3>Media Library</h3>
      <span class="app-toolbar-filler"></span>
      <input mat-raised-button color="primary" type="file" ng2FileSelect [uploader]="uploader" multiple (change)="uploader.uploadAll()"
      />
      <span class="app-toolbar-filler"></span>
    </mat-toolbar>
    <div [ngBusy]="busy"></div>
    <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
      (change)="uploader.uploadAll()" class="well my-drop-zone">
      Base drop zone
    </div>
    <div *ngIf="uploader?.queue?.length>0">
      <h3>Upload queue ({{ uploader?.queue?.length }})
        <button mat-raised-button class="mat-primary" (click)="uploader.uploadAll()">
          <mat-icon>cloud_upload</mat-icon> Uplaod All</button>
      </h3>
      <mat-progress-bar mode="determinate" [value]="uploader.progress">
      </mat-progress-bar>
      <table class="table">
        <thead>
          <tr>
            <th width="50%">Name</th>
            <th>Size</th>
            <th>Progress</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td>
              <strong>{{ item?.file?.name }}</strong>
            </td>
            <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
            <td>
              <mat-progress-bar mode="determinate" [value]="item.progress">
              </mat-progress-bar>
            </td>
            <td class="text-center">
              <span *ngIf="item.isSuccess">
                <mat-icon>done</mat-icon>
              </span>
              <span *ngIf="item.isError">
                <mat-icon>error_outline</mat-icon>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card>

  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="center start">
    <mat-card class="example-card" *ngFor="let p of media; let i = index;" id="{{p?._id}}">
      <button mat-button mat-icon-button (click)="delete(p._id)" class="close">
        <mat-icon>close</mat-icon>
      </button>
      <mat-card-header>
        <mat-card-title>{{p.name}}</mat-card-title>
        <mat-card-subtitle>{{p.path}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="p?.path">
      <div class="card-footer">
        <b>Uploaded by:</b> {{p.uname}} ({{p.uemail}})
        <br/>
        <b>Size:</b>{{ p.size/1024/1024 | number:'.1-2' }} MB
        <br/>
        <b>Created:</b> {{p.createdAt | date:'medium'}}
        <br/>
      </div>
    </mat-card>
  </div>
</div>