<!-- <button mat-icon-button [mdMenuTriggerFor]="exportMenu">
    <mat-icon>cloud_download</mat-icon>
</button>
<mat-menu #exportMenu="mdMenu">
    <button mat-menu-item (click)="export('json', data)">
        <mat-icon>voicemail</mat-icon>
        <span>JSON</span>
    </button>
    <button mat-menu-item (click)="export('text', data)">
        <mat-icon>notifications_off</mat-icon>
        <span>Text</span>
    </button>
    <button mat-menu-item (click)="export('csv', data)">
        <mat-icon>dialpad</mat-icon>
        <span>CSV</span>
    </button>
    <button mat-menu-item (click)="export('excel', data)">
        <mat-icon>dialpad</mat-icon>
        <span>Excel</span>
    </button>
</mat-menu> -->